<h1>Who Are You?</h1>
<img src="../public/images/sean_nicky.png">
<img src="../public/images/angus_josh.png">
<form class="form" action="" method="post">
<input type="button" name="start" value="Start Quiz">