<h1>Who Are You?</h1>
<img src="/images/sean_nicky.png" class= "photo-team1">
<img src="/images/angus_josh.png" class= "photo-team2">
<form class="form" action="" method="post">
<input type="button" name="start" value="Start Quiz">