<h1 class="body-content1">You Are {{name}}!</h1>
<br>
<center>
  <img src={{img}} class="outcome">
  <br>
  <p class="result">
    The results are in and there's no disputing the facts. With zero chance for error you are {{name}}
  </p>
  <a href='/' class="nav-1">Try Again!</a>
</center>